<h3>Choose localization file</h3>
<form action="/locales/show" method="get">
<select name="locale_file" class="form-control">
<%@files.each do |file|%>
  <option value="<%=file%>"><%=file%> </option>
<%
end%>
</select>
<input type="submit" value ="EDIT" class="btn btn-lg bg-primary" onClick="changeclass()">
</form>
<div class="hidden card text-center align-self-center" id="loading">
  <h4>Data Processing</h4>
  <div class="progress">
     <div class="progress-bar progress-bar-striped progress-bar-animated active" role="progressbar" style="width: 100%"></div>
  </div>
</div>
